<html>
    <head>

    </head>
    <body>
       <h1>Welcome to ACAShop</h1>
       {{  sess  }}
        Your name is :: {{ sess['name'] }}
        Your address is :: {{ sess['address']}}

        <form name="myForm" action="/person" method="post">
            Name: <input type="text" name="name" size="12" />
            <br>
            Address: <input type="text" name="address" size="12" />
            <br/><!-- This is how you make a line break in HTML -->
            <input type="submit" value="Click Me" />

        </form>

        <form name="myForm" action="/product" method="post">
            Product: <input type="text" name="product_name" size="12" />
            <br/><!-- This is how you make a line break in HTML -->
            Product category: <input type="text" name="product_cat" size="12" />
            <br/><!-- This is how you make a line break in HTML -->
            Price: <input type="text" name="product_price" size="12" />
            <br/><!-- This is how you make a line break in HTML -->
        </form>



    </body>
</html>
