<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Welcome to my Blog!</h1>

        <div style="border:1px solid black; padding: 10px;">

            {% if is_logged_in %}
                You are logged in
                <input type="button" value="logout"/>
            {% else %}
                <form action="/login" method="post">
                    Username: <input type="text" name="username" size="12"/>
                    &nbsp;
                    Password: <input type="text" name="passwd" size="12"/>
                    &nbsp;
                    <input type="submit" value="Login"/>
                </form>
            {% endif %}


        </div>

        <div class="snippet">
            <h2>ACL Weekend</h2>
            <p>The last couple years especially ACL has seemed really hectic to me.  Awesome but hectic...</p>
            <a href="/acl-weekend">Read more</a>
        </div>

        <div class="snippet">
            <h2>Trip to New York for Circle Songs Workshop</h2>
            <p>Lorem ipsum...</p>
            <a href="/acl-weekend">Read more</a>
        </div>

        <div class="snippet">
            <h2>Learned how to use Dictionaries in Python</h2>
            <p>Sometimes you just have one of those "aha" moments...</p>
            <a href="/acl-weekend">Read more</a>
        </div>
    </body>
</html>
